package components

templ DefaultPage() {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Default Page</title>
			<script src="/assets/js/htmx.min.js"></script>
		</head>
		<body>
			<h1>This is default page</h1>
		</body>
	</html>
}