package pages

import (
	"github.com/phonghaido/healthy-habits/views/components"
	"github.com/phonghaido/healthy-habits/views/layouts"
)

templ LandingPage() {
	@layouts.Base() {
		@components.Hero()
		@components.Feature()
		@components.Content()
	}
}
